[Unit]
Description=Intel BMC SMBIOS MDR V1
After=xyz.openbmc_project.EntityManager.service

[Service]
Restart=always
RestartSec=5
StartLimitBurst=10
ExecStartPre=/bin/mkdir -p /etc/smbios
ExecStart=/usr/bin/smbiosapp

[Install]
WantedBy=multi-user.target
